---
# WireGuard handlers

- name: restart wg-quick interfaces
  when:
    - not ansible_check_mode
    - wg_config_result is defined
    - item.changed
  systemd:
    name: "wg-quick@wg{{ item.item.asn }}"
    state: restarted
  loop: "{{ wg_config_result.results }}"
  listen: "restart wg-quick interfaces"
