router bgp {{ common.bgp.asn }}
{%- for peer in peers %}
{%- if peer.asn %}
 neighbor {{ peer.peer_address }} remote-as {{ peer.asn }}
 neighbor {{ peer.peer_address }} description {{ peer.name }}
 neighbor {{ peer.peer_address }} interface wg{{ peer.asn }}
 neighbor {{ peer.peer_address }} timers {{ peer.timers_keepalive | default('1') }} {{ peer.timers_holdtime | default('5') }}
 neighbor {{ peer.peer_address }} capability extended-nexthop
{%- endif %}
{%- endfor %}
 !
 address-family ipv4 unicast
{%- for peer in peers %}
{%- if peer.asn %}
{%- set peer_region = peer.dn42_region|upper %}
{%- set peer_country = peer.iso_3166_country_code %}
  neighbor {{ peer.peer_address }} soft-reconfiguration inbound
  neighbor {{ peer.peer_address }} route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN in
  neighbor {{ peer.peer_address }} route-map RM-DN42-PEER-OUT out
{%- endif %}
{%- endfor %}
 exit-address-family
 !
 address-family ipv6 unicast
{%- for peer in peers %}
{%- if peer.asn %}
{%- set peer_region = peer.dn42_region|upper %}
{%- set peer_country = peer.iso_3166_country_code %}
  neighbor {{ peer.peer_address }} activate
  neighbor {{ peer.peer_address }} soft-reconfiguration inbound
  neighbor {{ peer.peer_address }} route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN-V6 in
  neighbor {{ peer.peer_address }} route-map RM-DN42-PEER-OUT-V6 out
{%- endif %}
{%- endfor %}
 exit-address-family
exit
!