{%- for peer in peers %}
{%- set peer_region = peer.dn42_region|upper %}
{%- set peer_country = peer.iso_3166_country_code %}
! IPv4 Route-map for {{ node.name }} -> {{ peer.name }} ({{ peer_region }}/{{ peer_country }})
route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN permit 50
 match as-path AS_PATH_LEN_1
 match ip address prefix-list DN42-ALL
 set large-community {{ node.bgp_large_community }}
 set local-preference 300
 set metric {{ peer.latency_us }}
exit
!
route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN permit 75
 match community DN42-{{ peer_country }}
 match ip address prefix-list DN42-ALL
 set large-community {{ node.bgp_large_community }}
 set local-preference 210
 set metric {{ peer.latency_us }}
exit
!
route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN permit 100
 match community DN42-{{ peer_region }}
 match ip address prefix-list DN42-ALL
 set large-community {{ node.bgp_large_community }}
 set local-preference 200
 set metric {{ peer.latency_us }}
exit
!
route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN permit 150
 match ip address prefix-list DN42-ALL
 set large-community {{ node.bgp_large_community }}
 set metric {{ peer.latency_us }}
exit
!
route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN deny 1000
exit
!
! IPv6 Route-map for {{ node.name }} -> {{ peer.name }} ({{ peer_region }}/{{ peer_country }})
route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN-V6 permit 50
 match as-path AS_PATH_LEN_1
 match ipv6 address prefix-list DN42-ALL-V6
 set large-community {{ node.bgp_large_community }}
 set local-preference 300
 set metric {{ peer.latency_us }}
exit
!
route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN-V6 permit 75
 match community DN42-{{ peer_country }}
 match ipv6 address prefix-list DN42-ALL-V6
 set large-community {{ node.bgp_large_community }}
 set local-preference 210
 set metric {{ peer.latency_us }}
exit
!
route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN-V6 permit 100
 match community DN42-{{ peer_region }}
 match ipv6 address prefix-list DN42-ALL-V6
 set large-community {{ node.bgp_large_community }}
 set local-preference 200
 set metric {{ peer.latency_us }}
exit
!
route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN-V6 permit 150
 match ipv6 address prefix-list DN42-ALL-V6
 set large-community {{ node.bgp_large_community }}
 set metric {{ peer.latency_us }}
exit
!
route-map RM-DN42-PEER-{{ peer_region }}-{{ peer_country }}-{{ peer.name }}-IN-V6 deny 1000
exit
!
{%- endfor %}